*Template HTML:*
<html>
<head>
    <title>GST Calculator</title>
</head>
<body>

    <form method="post">
    <h2>GST Calculator</h2>

        {% csrf_token %}
        <label for="price">Price :</label>
        <input type="text" name="price" required><br><br>

        <label for="gst">GST (%):</label>
        <input type="text" name="gst" required><br><br>

        <button type="submit">Calculate</button>
    </form>

    {% if gst_amt is not None %}
        <h2>Result:</h2>
        {% if "Error" in gst_amt|stringformat:"s" %}
            <p style="color: red;">{{ gst_amt }}</p>
        {% else %}
            <p>GST: {{ gst_amt|stringformat:".2f" }}</p>
        {% endif %}
    {% endif %}
</body>
</html>